
@{
    ViewData["Title"] = "ErrorOnlinePay";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>خطا در پرداخت </h2>

<h3> کاربر گرامی متاسفانه پرداخت شما با مشکل مواجه شده است</h3>

<h2>@ViewBag.ErrorCode</h2>