@model CheckoutViewModel
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<hr class="soft" />
<div class="container" dir="rtl">
    <div class="row">
        <div class="col-12">

            <form asp-controller="cart" asp-action="checkout">
                <div class="box" style="box-shadow:0px 0px;margin-bottom:40px">
                    <div class="row">
                        <div class="box-header">
                            <h3> روش پرداخت</h3>
                        </div>
                    </div>
                </div>
                <p>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </p>

                <div class="row">
                    <div class="col-lg-12" style="padding-right:30px;text-align:justify">
                        <div class="funkyradio">
                            <div class="funkyradio-primary">
                                <input type="radio" name="pay" value="1" id="radio1" />
                                <label for="radio1">
                                    <strong>پرداخت آنلاین</strong>
                                    <br />
                                    <p>پرداخت آنلاین توسط کارت های عضو شتاب  و در گاه های بانکی موجود</p>
                                </label>
                            </div>

                            <div class="funkyradio-primary">
                                <input type="radio" name="pay" value="2" id="radio2" />
                                <label for="radio2">
                                    <strong>پرداخت هنگام دریافت کالا</strong>
                                    <br />
                                    <p> در این روش پس از دریافت کالا، پرداخت انجام می شود(فقط در رشت)</p>
                                </label>
                            </div>

                            <div class="funkyradio-primary">
                                <input type="radio" value="3" name="pay" id="radio3" />
                                <label for="radio3">
                                    <strong>پرداخت  فیش بانکی</strong>
                                    <br />
                                    <p>
                                        در این روش شما ابتدا مبلغ را بصورت کارت به کارت به شماره حساب زیر ارسال خواهید کرد
                                        و سپس با تایید سیستم مرسرسوله ارسال خواهد  شد
                                    </p>
                                </label>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-lg-10">

                                    <label>
                                        <input type="radio" name="pay" hidden class="card-input-element" value="1" asp-for="Pay" />
                                        <div class="payBox">
                                            <span class="card-input1">
                                                <strong>
                                                    پرداخت آنلاین
                                                </strong>
                                                <p>پرداخت آنلاین توسط کارت های عضو شتاب  و در گاه های بانکی موجود</p>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-lg-10">

                                    <label>
                                        <input type="radio" name="pay" hidden class="card-input-element" value="2" asp-for="Pay" />
                                        <div class="payBox">
                                            <strong>پرداخت هنگام دریافت کالا</strong>
                                            <br />
                                            <span>
                                                در این روش پس از دریافت کالا، پرداخت انجام می شود(فقط در رشت)
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-lg-10">

                                    <label>
                                        <input type="radio" name="pay" hidden class="card-input-element" value="3" asp-for="Pay" />
                                        <div class="payBox">
                                            <strong>پرداخت فیش بانکی</strong>
                                            <br />
                                            <span>
                                                در این روش شما ابتدا مبلغ را بصورت کارت به کارت به شماره حساب زیر ارسال خواهید کرد
                                                و سپس با تایید سیستم مرسرسوله ارسال خواهد  شد
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>*@

                        <hr class="soft" />

                        @*<label>
                                <input type="radio" name="pay" class="card-input-element" value="2" asp-for="Pay" />

                                <div class="panel panel-default card-input">
                                        <div class="panel-heading ">Online Payment</div>
                                        <div class="panel-body">
                                            Pay by Creadit Card Visa MasterCart
                                        </div>
                                    </div>
                            </label>*@
                        @*@Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.TotalPrice)
                            <input type="submit" value="پرداخت" style="margin-right:100px;margin-bottom:20px" class="btn btn-large btn-info" />*@
                    </div>
                </div>

                <br />

                <div class="box" style="box-shadow:0px 0px;margin-bottom:40px">
                    <div class="row">
                        <div class="box-header">
                            <h3> روش ارسال</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="padding-right:30px;text-align:justify">

                        <div class="funkyradio">
                            <div class="funkyradio-danger">
                                <input type="radio" name="ShipMethod" value="1" id="radio10" />
                                <label for="radio10">
                                    <strong>ارسال از طریق پست</strong>
                                    <br />
                                    <p>مناسب برای حجم کوچک از طریق سیستم پستی کشور هزینه ارسال توسط خریدار هنگام دریافت کالا پرداخت می شود</p>
                                </label>
                            </div>

                            <div class="funkyradio-danger">
                                <input type="radio" name="ShipMethod" value="2" id="radio11" />
                                <label for="radio11">
                                    <strong>از طریق تیباکس</strong>
                                    <br />
                                    <p> مناسب برای حجم های مرسوله کوچک از طریق سیستم تیباکس هزینه ارسال توسط خریدار هنگام دریافت کالا پرداخت میشود</p>
                                </label>
                            </div>

                            <div class="funkyradio-danger">
                                <input type="radio" value="3" name="ShipMethod" id="radio12" />
                                <label for="radio12">
                                    <strong>پرداخت  فیش بانکی</strong>
                                    <br />
                                    <p>
                                        در این روش شما ابتدا مبلغ را بصورت کارت به کارت به شماره حساب زیر ارسال خواهید کرد
                                        و سپس با تایید سیستم مرسرسوله ارسال خواهد  شد
                                    </p>
                                </label>
                            </div>
                            <div class="funkyradio-danger">
                                <input type="radio" value="4" name="ShipMethod" id="radio13" />
                                <label for="radio13">
                                    <strong>ارسال توسط پیک</strong>
                                    <br />
                                    <p>
                                        مناسب برای شهروندان رشتی، هزینه ارسال توسط خریدار هنگام دریافت کالا
                                        برای سفارش بیشتر از 100,000تومان ارسال رایگان
                                    </p>
                                </label>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-lg-10">

                                    <label>
                                        <input type="radio" name="ShipMethod" hidden class="card-input-element" value="1" asp-for="ShipMethod" />
                                        <div class="payBox">
                                            <span class="card-input1">
                                                <strong>
                                                    ارسال از طریق پست
                                                </strong>
                                                <p>مناسب برای حجم کوچک از طریق سیستم پستی کشور هزینه ارسال توسط خریدار هنگام دریافت کالا پرداخت می شود</p>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-lg-10">

                                    <label>
                                        <input type="radio" name="ShipMethod" hidden class="card-input-element" value="2" asp-for="ShipMethod" />
                                        <div class="payBox">
                                            <strong>از طریق تیباکس</strong>
                                            <br />
                                            <span>
                                                مناسب برای حجم های مرسوله کوچک از طریق سیستم تیباکس هزینه ارسال توسط خریدار هنگام دریافت کالا پرداخت میشود
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-lg-10">

                                    <label>
                                        <input type="radio" name="ShipMethod" hidden class="card-input-element" value="3" asp-for="ShipMethod" />
                                        <div class="payBox">
                                            <strong>ارسال از طریق باربری</strong>
                                            <br />
                                            <span>
                                                مناسب برای خرید عمده، هزینه ارسال رایگان
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-10">

                                    <label>
                                        <input type="radio" name="ShipMethod" hidden class="card-input-element" value="4" asp-for="ShipMethod" />
                                        <div class="payBox">
                                            <strong>ارسال توسط پیک</strong>
                                            <br />
                                            <span>

                                                مناسب برای شهروندان رشتی، هزینه ارسال توسط خریدار هنگام دریافت کالا
                                                برای سفارش بیشتر از 100,000تومان ارسال رایگان
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>*@

                        <hr class="soft" />

                        @*<label>
                                <input type="radio" name="pay" class="card-input-element" value="2" asp-for="Pay" />

                                <div class="panel panel-default card-input">
                                        <div class="panel-heading ">Online Payment</div>
                                        <div class="panel-body">
                                            Pay by Creadit Card Visa MasterCart
                                        </div>
                                    </div>
                            </label>*@
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.TotalPrice)
                        <input type="submit" value="پرداخت" style="margin-right:100px;margin-bottom:20px;background-color:#7fad39" class="btn btn-info pull-left" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>