
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@{ 
    int sum = 0;
}



    <div style="height:500px;background-color:white">
        <h3>از اعتماد شما متشکریم</h3>
        <h4> کد پیگیری: @ViewBag.RefCode</h4>
        <h4> کد پیگیری: @TempData["RefCode"]</h4>

    </div>

<a asp-controller="home" asp-action="index" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
